{% extends "base.html" %}
{% block head_content %}
<title>Our posts</title>
{% endblock %}
{% block container %}

    <div class="container">
        {% for post in posts %}
            <div class="list-group mb-5">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{ post.title }}</h5>
                    <small> {{ post.created }} </small>
                </div>
                <p class="mb-1">{{ post.body }}</p>
                <small> {{ post.user.get_short_name }}</small>
        </div>
    {% endfor %}
</div>
{% endblock %}