version: "3.9"

services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: example
  
  adminer: 
    image: adminer 
    restart: always
    ports: 
      - 8080:8080
  
  web:
      build: .
      command: python manage.py runserver 0.0.0.0:8000
      volumes:
        - .:/blog
      ports:
        - "8000:8000"
      depends_on:
      - db